nav {
  color: $navbar-font-color;
  @extend .z-depth-1;
  background-color: $primary-color;
  width: 100%;
  height: $navbar-height-mobile;
  line-height: $navbar-height-mobile;

  a { color: $navbar-font-color; }

  i,
  [class^="mdi-"], [class*="mdi-"],
  i.material-icons {
    display: block;
    font-size: 2rem;
    height: $navbar-height-mobile;
    line-height: $navbar-height-mobile;
  }

  .nav-wrapper {
    position: relative;
    height: 100%;
  }

  @media #{$large-and-up} {
    a.button-collapse { display: none; }
  }


  // Collapse button
  .button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: $navbar-height-mobile;

    i {
      font-size: 2.7rem;
      height: $navbar-height-mobile;
      line-height: $navbar-height-mobile;
    }
  }


  // Logo
  .brand-logo {
    position: absolute;
    color: $navbar-font-color;
    display: inline-block;
    font-size: $navbar-brand-font-size;
    padding: 0;
    white-space: nowrap;

    &.center {
      left: 50%;
      transform: translateX(-50%);
    }

    @media #{$medium-and-down} {
      left: 50%;
      transform: translateX(-50%);

      &.left, &.right {
        padding: 0;
        transform: none;
      }

      &.left { left: 0.5rem; }
      &.right {
        right: 0.5rem;
        left: auto;
      }
    }

    &.right {
      right: 0.5rem;
      padding: 0;
    }
  }


  // Navbar Links
  ul {
    margin: 0;

    li {
      transition: background-color .3s;
      float: left;
      padding: 0;

      &.active {
        background-color: rgba(0,0,0,.1);
      }
    }
    a {
      transition: background-color .3s;
      font-size: 1rem;
      color: $navbar-font-color;
      display: inline-block;
      margin: 0 15px;
      cursor: pointer;

      &.btn, &.btn-large, &.btn-flat, &.btn-floating {
        margin-top: -2px;
        margin-left: 15px;
        margin-right: 15px;
      }
        
      &.active{
        -webkit-box-shadow: inset 0px -3px 0px 0px #2bbbad;
        -moz-box-shadow: inset 0px -3px 0px 0px #2bbbad;
        box-shadow: inset 0px -3px 0px 0px #2bbbad;
      }
    }

    &.left {
      float: left;
    }
  }
}

@media #{$medium-and-up} {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: $navbar-height;
    line-height: $navbar-height;
  }
}
